
body {
  background-color: red;
  margin: 0;
 }

/* Comentario
#header { border: thin solid whrite; }
*/

#main-image {
  width: 400px;
  border-radius: 50px;
}
#main-image-Fornite {
  text-align: center;
}

.grid-container {
  border: thin solid white;
  display: grid;
  grid-template-areas: "header header header header header header"
                       "right right content content content content"
                       "footer footer footer footer footer footer";
 grid-gap: 10px;
}

#header { grid-area: header; }
#right {grid-area: right; }
#content {grid-area: content; }
#footer {grid-area: footer; }




.box {
 border: thin solid white;
 }
